<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <button type="button" onclick="AddEdit(0)" class="btn btn-success">Add Vote</button>
                </div>
                <div class="col-md-2">
                    <h5 class="pull-right"><b>&nbsp;Votes List</b></h5>
                </div>

            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblVotes" class="CustomTablegray" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>VoteName</th>
                        <th>Faculty</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>Level</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Modefied By</th>
                        <th>Modefied Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #tblVotes th {
        text-align: center;
    }
</style>

<script src="~/Js/Vote/Vote_CRUD.js"></script>
<script src="~/Js/Vote/Vote_Datatable.js"></script>
@*<script src="~/js/QuestionType/QuestionType_Datatable.js"></script>*@
