# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/Vote2/FileContentIndex/004e0b6a-0766-4b2b-98b4-29731e384bcf.vsidx
.vs/Vote2/FileContentIndex/165669c2-02f7-458a-85ad-aac365ca46d3.vsidx
.vs/Vote2/FileContentIndex/186494c6-90f7-44bd-a73b-15052b4e9c8d.vsidx
.vs/Vote2/FileContentIndex/36a24d20-4511-447e-8eae-9e72378dd719.vsidx
.vs/Vote2/FileContentIndex/39b9fe99-d46d-43a4-8fde-cf4e362df93f.vsidx
.vs/Vote2/FileContentIndex/4f0a991f-a6da-435b-a75b-a744849be9ea.vsidx
.vs/Vote2/FileContentIndex/879ef1db-f770-40c0-a582-08f1aa5b8e8a.vsidx
.vs/Vote2/FileContentIndex/c09a49fb-e265-4c22-96cb-3b399f34c7b6.vsidx
.vs/Vote2/FileContentIndex/e99b59f1-0fc2-4775-a2ac-bc687e468304.vsidx
.vs/Vote2/v17/.suo
.vs/Vote2/FileContentIndex/0f9a35b2-0d7a-43f5-999b-64813e5188fc.vsidx
*.vsidx
/.vs/Vote2
*.vsidx
.vs/Vote2/FileContentIndex/08552ce4-4eb6-45db-862e-b3b94812bfe8.vsidx
.vs/Vote2/FileContentIndex/0fbb840c-d2d5-4592-83b1-3a42b0373f93.vsidx
.vs/Vote2/FileContentIndex/3a0a3f39-1427-4ccb-b8e3-db5c1e24be4f.vsidx
.vs/Vote2/FileContentIndex/41379dba-81ec-44d9-b3f7-a950426bd104.vsidx
.vs/Vote2/FileContentIndex/fc4fe3a4-37ad-4717-bf9d-81e27425d2dc.vsidx
.vs/Vote2/v17/.suo
Vote2/obj/Vote2.csproj.nuget.g.props
Vote2/obj/Vote2.csproj.nuget.dgspec.json
Vote2/obj/project.nuget.cache
Vote2/obj/project.assets.json
Vote2/obj/Debug/net7.0/Vote2.GeneratedMSBuildEditorConfig.editorconfig
Vote2/obj/Debug/net7.0/Vote2.assets.cache
*.editorconfig
Vote2/obj/Debug/net7.0/Vote2.GeneratedMSBuildEditorConfig.editorconfig
Vote2/obj/Debug/net7.0/project.razor.vs.json
/.vs
.vs/ProjectEvaluation/vote2.metadata.v7.bin
.vs/ProjectEvaluation/vote2.projects.v7.bin
.vs/Vote2/DesignTimeBuild/.dtbcache.v2
.vs/Vote2/v17/.futdcache.v2
.vs/Vote2/v17/.suo
.vs/Vote2/v17/fileList.bin
Vote2/obj/Debug/net7.0/Vote2.csproj.CoreCompileInputs.cache
