@model Vote2.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmQuestion">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="ModifiedBy" />


                <div class="form-group directiondiv">
                    <label class="col-form-label">Votes</label><span style="color:red;">*</span>
                    <select id="VoteId" asp-for="VoteId" asp-items="@ViewBag.GetddlVotes" style="width: 100%;" class="" required>
                        <option disabled selected data-key="---select---">--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="QuestionId" class="text-danger"></span>
                </div>

                <div class="form-group row directiondiv" >
                    <label>Add Your Question</label>
                    <div class="col-md-12">
                        <input asp-for="QuestionName" type="text" id="QuestionName"  style="width:100%;" />
                    </div>
                </div>

                <div class="form-group directiondiv">
                    <label class="col-form-label">Question Type</label>
                    <select id="QuestionTypeId" asp-for="QuestionTypeId" asp-items="@ViewBag.GetddlQuestionType" style="width: 100%;" class="" required>
                        <option disabled selected data-key="---select---">--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="QuestionTypeId"></span>
                </div>

                @* <div class="form-group directiondiv">
                <label class="col-form-label">Section</label>
                <select id="SectionId" asp-for="SectionId" style="width: 100%;" class="" required>
                <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="SectionId"></span>
                </div>

                <div class="form-group directiondiv">
                <label class="col-form-label">Level</label>
                <select id="LevelId" asp-for="LevelId" asp-items="@ViewBag.GetddlLevels" style="width: 100%;" class="" required>
                <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="LevelId"></span>
                </div>
                *@




                @*<div class="form-group row directiondiv" id="QNoInPage-Div">

                <label asp-for="QNoInPage" data-key="qnoinpage">Question No. per Page</label>

                <div class="col-md-3">
                <input asp-for="QNoInPage" type="number" id="QNoInPage" step="1" min="1" id="QNoInPage" style="width:100%;" />
                </div>

                </div>*@

                <div class="form-group">
                    <button type="button" id="btnSave" data-key="save" onclick="Save()" class="btn btn-info">Save</button>
                    <button type="button" id="btnClose" data-key="close" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .checkBox-con {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

        .checkBox-con label {
            font-size: 20px;
        }

        .checkBox-con input {
            width: 30px;
            height: 30px;
        }

    #QNoInPage-Div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>


