@model Vote2.ViewModels.UsersViewModel
@{
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<div class="containerLogIn" id="containerLogIn">
    <div class="form-container sign-up-container">
        <form id="SignUpForm">
            <h1>Create Account</h1>

            <input type="text" asp-for="Name" placeholder="Name">

            <div class="form-group directiondiv">
                <label class="col-form-label">Faculty</label>
                <select id="FacultyId" asp-items="@ViewBag.DDLFaculties" asp-for="FacultyId" style="width: 100%;" class="" required>
                    <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="FacultyId"></span>
            </div>

            <div class="form-group directiondiv">
                <label class="col-form-label">Departement</label>
                <select id="DepartmentId" asp-for="DepartmentId" style="width: 100%;" class="" required>
                    <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="DepartmentId"></span>
            </div>

            <div class="form-group directiondiv">
                <label class="col-form-label">Section</label>
                <select id="SectionId" asp-for="SectionId" style="width: 100%;" class="" required>
                    <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="SectionId"></span>
            </div>

            <div class="form-group directiondiv">
                <label class="col-form-label">Level</label>
                <select id="LevelId" asp-for="LevelId" asp-items="@ViewBag.DDLLevels" style="width: 100%;" class="" required>
                    <option disabled selected data-key="---select---">--- SELECT ---</option>
                </select>
                <span asp-validation-for="LevelId"></span>
            </div>

            <input type="text" id="PhoneNumberInput" asp-for="PhoneNumber" placeholder="Phone Number">

            <input id="SignUpEmail" type="email" asp-for="Email" placeholder="Email">

            <input type="password" asp-for="Password" placeholder="Password">
            <button type="button" id="BtnSignUp" onclick="SignUp()">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form id="SignInForm">
            <h1>Sign In</h1>
            <input id="SignInEmail" type="email" placeholder="Email">
            <input type="password" id="SignInPassword" placeholder="Password">
            <button type="button" id="BtnSignIn" onclick="SignIn()">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back</h1>
                <p>To keep connected with Voteify please login</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Welcome to VOTEIFY</h1>
                <p>Enter your personal details and start journey with Voteify</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>


<style>
    label {
        color: #fff;
    }

    #SignInForm {
        justify-content: center;
    }
</style>

<script>
    $(document).ready(function () {
        $("#FacultyId").select2();
        $("#DepartmentId").select2();
        $("#SectionId").select2();
        $("#LevelId").select2();
    });

    document.getElementById('PhoneNumberInput').addEventListener('input', function (e) {
        var value = e.target.value;
        //e.target.value = value.replace(/[^0-9]/g, '');
        value = value.replace(/\D/g, '');
        e.target.value = value.substring(0, 11);
    });


    $(document).ready(function () {
        $('#FacultyId').change(function () {
            var _FacultyId = $("#FacultyId").val();
            $.ajax({
                type: "GET",
                url: "/Common/GetDepartementsByFacultyId?FacultyId=" + _FacultyId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#DepartmentId').empty();
                    $('#SectionId').empty();
                    $("#DepartmentId").append("<option disabled selected data-key=' select ' > SELECT </option>");
                    for (var i = 0; i < data.length; i++) {
                        var _DepartmentId = document.getElementById("DepartmentId");
                        var _option = document.createElement("option");
                        _option.text = data[i].Name;
                        _option.value = data[i].Id;
                        _DepartmentId.add(_option);
                    }
                },
                error: function (errormessage) {
                    SwalSimpleAlert(errormessage.responseText, "warning");
                }
            });
        });
    });
    
    
    $(document).ready(function () {
        $('#DepartmentId').change(function () {
            var _DepartmentId = $("#DepartmentId").val();
            $.ajax({
                type: "GET",
                url: "/Common/GetSectionsByDepartementId?DepartementId=" + _DepartmentId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#SectionId').empty();
                    $("#SectionId").append("<option disabled selected data-key=' select ' > SELECT </option>");
                    for (var i = 0; i < data.length; i++) {
                        var _SectionId = document.getElementById("SectionId");
                        var _option = document.createElement("option");
                        _option.text = data[i].Name;
                        _option.value = data[i].Id;
                        _SectionId.add(_option);
                    }
                },
                error: function (errormessage) {
                    SwalSimpleAlert(errormessage.responseText, "warning");
                }
            });
        });
    });

</script>



